@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@200;300&family=Josefin+Sans:wght@100&family=Kanit:ital,wght@1,300;1,400&family=Kdam+Thmor+Pro&family=Roboto+Mono:ital,wght@1,500&family=Roboto+Slab&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  background-color: whitesmoke;
}

nav {
  display: flex;
  justify-content: space-around;
  color: gray;
  width: 60%;
}

nav a {
  margin-top: 20px;
  text-decoration: none;
  margin-right: 25%;
  color: grey;
}

nav h3 {
  color: #0290ff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.formdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.each-input {
  width: 24.5rem;
  height: 1.813rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white);
}

.submitbtn {
  width: 5.5rem;
  height: 1.813rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: white;
  text-align: center;
  border: none;
}

.addbookh3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 8%;
  color: gray;
}

.holdingbooks {
  margin-top: 10px;
}

.divbook {
  width: 60rem;
  height: 8.925rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  display: flex;
  margin-left: 12%;
  margin-top: 10px;
  padding-bottom: 5px;
  background-color: white;
  flex-direction: row;
  justify-content: space-evenly;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.bigform {
  position: relative;
  bottom: 0;
}

span {
  color: #0290ff;
  font-family: 'Crete Round', serif;
}

.circle {
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 5px;
  border-color: #379cf6;
  border-radius: 100%;
  border-image-slice: 1;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.insidecircle {
  width: 2.25rem;
  height: 2.25rem;
  border-style: solid;
  border-width: 30px;
  border-color: white;
  border-bottom: 0;
  border-right: 0;
  position: absolute;
  border-radius: 100%;
  margin-right: 20%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.percentage {
  display: flex;
  flex-direction: row;
}

.deletebtn {
  border: none;
  font-size: 18px;
  background-color: white;
  color: #0290ff;
  font-family: 'Crete Round', serif;
}

.update {
  width: 11.5rem;
  height: 2.063rem;
  border: none;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #0290ff;
  color: white;
}

.authorname {
  color: #0290ff;
}

.grayone {
  color: gray;
  font-family: 'Roboto Slab', serif;
}

.percentNo {
  font-size: 20px;
}

.authortitle {
  font-family: 'Kdam Thmor Pro', sans-serif;
}
